{
    "official_indir": "/PATH/TO/1. Analytic Datasets",
    "TCGA_datadir": "/PATH/TO/1. Analytic Datasets/TCGA",
    "Lund_datadir": "/PATH/TO/1. Analytic Datasets/Lund",
    "Figure_data_dir": "/PATH/TO/Figure Data"
}